@import "../colors";
@import "../sizes";

.articleContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;

  @media screen and (max-width: $mobile) {
    margin-bottom: 60px;
  }

  .articleCover {
    aspect-ratio: 1/1;
    background-color: $gray;
    width: 100%;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  .articleDate {
    color: $gray;
    font-size: 21px;
    margin-top: 16px;

    @media screen and (max-width: $mobile) {
      font-size: 16px;
      margin-left: $mobileMinBleedWidth;
      margin-right: $mobileMinBleedWidth;
    }
  }

  .articleTitle {
    font-size: 21px;

    @media screen and (max-width: $mobile) {
      font-size: 16px;
      margin-left: $mobileMinBleedWidth;
      margin-right: $mobileMinBleedWidth;
      min-height: auto !important;
    }
  }
}
