@use "../colors";
@use "../sizes";

.articleContainer {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;

  @media screen and (max-width: sizes.$mobile) {
    margin-bottom: 60px;
  }

  .articleCover {
    aspect-ratio: 1/1;
    background-color: colors.$gray;
    cursor: none;
    user-select: none;
    width: 100%;

    @media screen and (max-width: sizes.$tablet) {
      cursor: inherit;
      user-select: inherit;
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  .articleDate {
    color: colors.$gray;
    font-size: 21px;
    margin-top: 16px;

    @media screen and (max-width: sizes.$mobile) {
      font-size: 16px;
      margin-left: sizes.$mobileMinBleedWidth;
      margin-right: sizes.$mobileMinBleedWidth;
    }
  }

  .articleTitle {
    font-size: 21px;

    @media screen and (max-width: sizes.$mobile) {
      font-size: 16px;
      margin-left: sizes.$mobileMinBleedWidth;
      margin-right: sizes.$mobileMinBleedWidth;
      min-height: auto !important;
    }
  }
}
