@import "../colors";
@import "../sizes";

.latestWrapper {
  margin-top: 300px;

  @media screen and (max-width: $mobile) {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 120px;
  }
}

.latestTextWrapper {
  align-items: flex-end;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 40px;

  @media screen and (max-width: $mobile) {
    grid-template-columns: 1fr;
    margin-left: $mobileMinBleedWidth;
    margin-right: $mobileMinBleedWidth;
  }

  .latestColumn {
    align-items: flex-end;
    display: flex;
    gap: 20px;
    justify-content: space-between;

    @media screen and (max-width: $mobile) {
      .latestTitle {
        display: flex;
      }
    }
  }

  .latestTitle {
    font-size: 72px;

    @media screen and (max-width: $mobile) {
      display: none;
      font-size: 24px;
    }
  }

  .latestDesktopCTA {
    justify-self: flex-end;
    margin-bottom: 15px;

    @media screen and (max-width: $mobile) {
      display: none;
    }
  }
}

.articlesWrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin: 60px 0;

  @media screen and (max-width: $mobile) {
    gap: 20px;
    grid-template-columns: 1fr;
    margin-bottom: 140px;
    margin-top: 40px;
  }

  .latestMobileCTA {
    border-top: 1px solid $gray;
    display: none;
    justify-content: flex-end;
    margin-left: $mobileMinBleedWidth;
    margin-right: $mobileMinBleedWidth;
    padding-top: 10px;
    width: auto;

    @media screen and (max-width: $mobile) {
      display: flex;
    }
  }
}
