@use "../colors";
@use "../sizes";

.heroWrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
  min-height: 400px;
  padding-bottom: 120px;
  padding-top: 120px;

  @media screen and (max-width: sizes.$tablet) {
    min-height: auto;
    padding-bottom: 180px;
    padding-top: 0;
  }

  &.spacingBottom {
    padding-bottom: 400px;

    @media screen and (max-width: sizes.$tablet) {
      padding-bottom: 180px;
    }
  }

  .heroTitle {
    display: flex;
    font-size: 86px !important;
    white-space: pre-wrap !important;

    @media screen and (max-width: 1500px) {
      white-space: normal !important;
    }

    @media screen and (max-width: sizes.$desktop) {
      font-size: 60px !important;
    }

    @media screen and (max-width: sizes.$laptop) {
      font-size: 48px !important;
    }

    @media screen and (max-width: sizes.$mobile) {
      font-size: 32px !important;
    }
  }

  .heroFootnote {
    align-items: center;
    color: rgb(colors.$gray);
    display: flex;
    font-size: 21px;
    gap: 10px;
    margin-top: 25vh;
    padding-bottom: 160px;

    @media screen and (max-width: sizes.$tablet) {
      padding-bottom: 0;
    }

    @media screen and (max-width: sizes.$mobile) {
      display: none;
    }

    svg {
      height: 16px;
      rotate: 90deg;
      width: 16px;

      * {
        stroke: rgb(colors.$gray) !important;
      }
    }
  }
}

.heroGradientBackground {
  height: 100%;
  margin-top: -110px;
  overflow: hidden;
  position: relative;
  width: 100%;

  .gradient {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .heroGradientWrapper {
    display: flex;
    min-height: 900px;
    padding-bottom: 160px;
    padding-top: 230px;

    @media screen and (max-width: sizes.$tablet) {
      min-height: 400px;
      padding-bottom: 80px;
      padding-top: 110px;
    }

    .heroGradientTitle {
      color: rgb(colors.$white);
      display: flex;
      font-size: 86px !important;
      height: fit-content;
      width: fit-content;
      z-index: 10;

      @media screen and (max-width: sizes.$desktop) {
        font-size: 60px !important;
      }

      @media screen and (max-width: sizes.$laptop) {
        font-size: 48px !important;
      }

      @media screen and (max-width: sizes.$mobile) {
        font-size: 32px !important;
      }
    }
  }
}

.heroRichText > * {
  font-size: inherit !important;
  margin: initial !important;
}
