@mixin fadeUpMask($threshold: 0) {
  > * {
    opacity: 0;
  }

  &.animate-in {
    $name: fade-up-mask-#{unique-id()};
    overflow: hidden;

    > * {
      animation: $name 1s forwards;

      @keyframes #{$name} {
        0% {
          opacity: 0;
          transform: translateY(10vh);
        }
        // @if $threshold > 0 {
        //   /*
        //   If you see an error here
        //   This is valid SCSS, the error is produced by the IDE
        //   */
        //   #{$threshold}% {
        //     opacity: 0;
        //     transform: translateY(10vh);
        //   }
        // }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}

@mixin fadeUpDownMask() {
  > * {
    opacity: 0;
  }

  &.animate-in {
    $name: fade-up-down-mask-#{unique-id()};
    overflow: hidden;

    > * {
      animation: $name 1.5s ease-in-out forwards;

      @keyframes #{$name} {
        0% {
          opacity: 0;
          transform: translateY(10vh);
        }
        30% {
          opacity: 1;
          transform: translateY(0);
        }
        60% {
          opacity: 1;
          transform: translateY(0);
        }
        100% {
          opacity: 0;
          transform: translateY(-10vh);
        }
        // @if $threshold > 0 {
        //   /*
        //   If you see an error here
        //   This is valid SCSS, the error is produced by the IDE
        //   */
        //   #{$threshold}% {
        //     opacity: 0;
        //     transform: translateY(10vh);
        //   }
        // }
      }
    }
  }
}
