@use "sass:string";

@mixin fadeIn() {
  > * {
    opacity: 0;
  }

  &.animate-in {
    $name: fade-in-#{string.unique-id()};

    > * {
      animation: $name 2s forwards;

      @keyframes #{$name} {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
}

@mixin fadeUpMask() {
  > * {
    opacity: 0;
  }

  &.animate-in {
    $name: fade-up-mask-#{string.unique-id()};
    overflow: hidden;

    > * {
      animation: $name 1s forwards;

      @keyframes #{$name} {
        0% {
          opacity: 0;
          transform: translateY(10vh);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}

@mixin fadeDownMask() {
  > * {
    opacity: 0;
  }

  &.animate-in {
    $name: fade-down-mask-#{string.unique-id()};
    overflow: hidden;

    > * {
      animation: $name 1s forwards;

      @keyframes #{$name} {
        0% {
          opacity: 0;
          transform: translateY(-10vh);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}

@mixin fadeUpDownMask() {
  > * {
    opacity: 0;
  }

  &.animate-in {
    $name: fade-up-down-mask-#{string.unique-id()};
    overflow: hidden;

    > * {
      animation: $name 1.9s ease-in-out forwards;

      @keyframes #{$name} {
        0% {
          opacity: 0;
          transform: translateY(100%);
        }
        20% {
          opacity: 1;
          transform: translateY(0);
        }
        80% {
          opacity: 1;
          transform: translateY(0);
        }
        100% {
          opacity: 0;
          transform: translateY(-100%);
        }
      }
    }
  }
}

.animation-base > * {
  opacity: 0;
}

.animation-fade-in {
  @include fadeIn;
}

.animation-fade-up {
  @include fadeUpMask;
}

.animation-fade-down {
  @include fadeDownMask;
}

.animated-line-section-cta > * {
  animation-delay: 0.5s !important;
}

.workflow-animation-container {
  .workflow-animation-row {
    &::before,
    &::after {
      width: 0;
    }
  }

  .workflow-animation-icon,
  .workflow-index-mask,
  .workflow-label-mask {
    > * {
      display: inline-block;
      opacity: 0;
    }
  }

  &.animate-in {
    .workflow-animation-row {
      &::before,
      &:last-of-type::after {
        $name: fill-left-to-right#{string.unique-id()};
        animation: $name 1s forwards;

        @keyframes #{$name} {
          0% {
            width: 0;
          }
          100% {
            width: 100%;
          }
        }
      }
    }

    .workflow-animation-icon {
      $name: fade-in-#{string.unique-id()};

      > * {
        animation: $name 2s forwards;

        @keyframes #{$name} {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }

    .workflow-index-mask,
    .workflow-label-mask {
      $name: fade-down-mask-#{string.unique-id()};
      overflow: hidden;

      > * {
        animation: $name 1s forwards;

        @keyframes #{$name} {
          0% {
            opacity: 0;
            transform: translateY(-10vh);
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}

.pitch-animation-wrapper {
  .pitch-index-mask,
  .pitch-title-mask,
  .pitch-paragraph-up-mask,
  .pitch-paragraph-down-mask {
    > * {
      display: inline-block;
      opacity: 0;
    }
  }

  &.animate-in {
    .pitch-index-mask,
    .pitch-title-mask,
    .pitch-paragraph-down-mask {
      $name: fade-down-mask-#{string.unique-id()};
      overflow: hidden;

      > * {
        animation: $name 1s forwards;

        @keyframes #{$name} {
          0% {
            opacity: 0;
            transform: translateY(-10vh);
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }

    .pitch-paragraph-up-mask {
      $name: fade-up-mask-#{string.unique-id()};
      overflow: hidden;

      > * {
        animation: $name 1s forwards;

        @keyframes #{$name} {
          0% {
            opacity: 0;
            transform: translateY(10vh);
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}
