#cc-main {
  color-scheme: light dark;

  --cc-font-family: "UntitledSans";
  --cc-modal-border-radius: 20px;
  --cc-btn-border-radius: 10px;
  --cc-modal-transition-duration: 0.25s;
  --cc-modal-margin: 20px;
  --cc-z-index: 999;

  --cc-bg: rgb(var(--lumistra-white));
  --cc-primary-color: rgb(var(--lumistra-black));
  --cc-secondary-color: rgb(var(--lumistra-black));

  --cc-btn-primary-bg: rgb(var(--lumistra-primary));
  --cc-btn-primary-color: var(--cc-bg);
  --cc-btn-primary-hover-bg: rgb(var(--lumistra-primary));
  --cc-btn-primary-hover-color: var(--cc-bg);
  --cc-btn-primary-border-color: rgb(var(--lumistra-primary));
  --cc-btn-primary-hover-border-color: rgb(var(--lumistra-primary));

  --cc-btn-secondary-bg: rgb(var(--lumistra-whitish));
  --cc-btn-secondary-color: var(--cc-secondary-color);
  --cc-btn-secondary-hover-bg: rgb(var(--lumistra-whitish));
  --cc-btn-secondary-hover-color: var(--cc-secondary-color);
  --cc-btn-secondary-border-color: rgb(var(--lumistra-whitish));
  --cc-btn-secondary-hover-border-color: rgb(var(--lumistra-whitish));

  --cc-cookie-category-block-bg: rgb(var(--lumistra-whitish));
  --cc-cookie-category-block-border: rgb(var(--lumistra-whitish));
  --cc-cookie-category-block-hover-bg: rgb(var(--lumistra-whitish));
  --cc-cookie-category-block-hover-border: rgb(var(--lumistra-whitish));
  --cc-cookie-category-expanded-block-bg: rgb(var(--lumistra-whitish));
  --cc-cookie-category-expanded-block-hover-bg: rgb(var(--lumistra-whitish));

  --cc-toggle-on-bg: var(--cc-bg);
  --cc-toggle-off-bg: var(--cc-bg);
  --cc-toggle-readonly-bg: rgb(var(--lumistra-whitish));
  --cc-toggle-on-knob-bg: rgb(var(--lumistra-primary));
  --cc-toggle-off-knob-bg: rgb(var(--lumistra-primary));
  --cc-toggle-readonly-knob-bg: rgb(var(--lumistra-primary));

  --cc-separator-border-color: rgb(var(--lumistra-white));

  --cc-footer-border-color: rgb(var(--lumistra-white));
  --cc-footer-bg: var(--cc-bg);

  --cc-overlay-bg: rgba(0, 0, 0, 0.5) !important;
}
