@use "colors";
@use "sizes";

footer {
  background-color: colors.$black;
  bottom: 0;
  color: colors.$white;
  display: flex;
  justify-content: center;
  position: sticky;
  width: 100%;
  z-index: 1;

  @media screen and (max-width: sizes.$tablet) {
    position: relative;
  }

  .content-container {
    margin-left: sizes.$desktopMinBleedWidth;
    margin-right: sizes.$desktopMinBleedWidth;
    max-width: sizes.$maxContentWidth;
    padding-bottom: 70px;
    padding-top: 230px;
    width: 100%;

    @media screen and (max-width: 1500px) {
      padding-top: 180px;
    }

    @media screen and (max-width: 1200px) {
      margin-left: sizes.$laptopMinBleedWidth;
      margin-right: sizes.$laptopMinBleedWidth;
    }

    @media screen and (max-width: sizes.$tablet) {
      margin-left: sizes.$mobileMinBleedWidth;
      margin-right: sizes.$mobileMinBleedWidth;
    }

    @media screen and (max-width: sizes.$mobile) {
      padding-bottom: 20px;
      padding-top: 120px;
    }

    .identity-wrapper {
      align-items: center;
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(4, 1fr);
      padding-bottom: 280px;

      @media screen and (max-width: 1500px) {
        padding-bottom: 180px;
      }

      @media screen and (max-width: sizes.$laptop) {
        display: flex;
        padding-bottom: 60px;
      }

      .logo {
        @media screen and (max-width: sizes.$laptop) {
          width: 100%;
        }

        > * {
          fill: colors.$white;
        }

        &.logo-icon {
          width: 50%;
        }

        &.logo-text {
          grid-column-start: 3;
          grid-column-end: 5;
        }
      }
    }

    .divider {
      background-color: colors.$gray;
      border: none;
      height: 1px;
      width: 100%;
    }

    .cta-wrapper {
      display: grid;
      font-size: 36px;
      gap: 20px;
      grid-template-columns: repeat(6, 1fr);
      padding-bottom: 160px;
      padding-top: 20px;

      @media screen and (max-width: 1500px) {
        gap: 120px 20px;
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: sizes.$mobile) {
        display: flex;
        flex-direction: column;
        font-size: 24px;
        gap: 60px;
        padding-bottom: 100px;
      }

      .sitemap-wrapper {
        display: grid;
        gap: 40px 20px;
        grid-column-end: 4;
        grid-column-start: 1;
        grid-template-columns: repeat(3, 25%);

        @media screen and (max-width: 1500px) {
          gap: 40px 0;
          grid-column-end: 3;
        }

        @media screen and (max-width: sizes.$mobile) {
          gap: 10px;
          grid-template-columns: 1fr;
        }

        .footer-link {
          color: colors.$white;
          transition: 0.3s;

          &:hover {
            color: colors.$dark;
          }
        }
      }

      .locale-wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @media screen and (max-width: sizes.$mobile) {
          gap: 10px;
          justify-content: flex-end;
        }

        .locales {
          align-items: center;
          color: colors.$dark;
          display: flex;
          font-size: 48px;
          gap: 10px;

          @media screen and (max-width: sizes.$desktop) {
            font-size: 36px;
          }

          @media screen and (max-width: sizes.$mobile) {
            font-size: 32px;
          }

          .splitter {
            color: colors.$white;
          }

          .locale {
            transition: 0.3s;

            &.active,
            &:hover {
              color: colors.$white;
            }
          }
        }
      }

      .socials-wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
        grid-column-end: 7;
        grid-column-start: 5;

        @media screen and (max-width: 1500px) {
          grid-column-end: 3;
          grid-column-start: 2;
        }

        @media screen and (max-width: sizes.$mobile) {
          gap: 10px;
          justify-content: flex-end;
        }

        .socials {
          align-items: center;
          display: flex;
          gap: 40px;

          @media screen and (max-width: sizes.$mobile) {
            gap: 20px;
          }

          .social-icon {
            align-items: center;
            display: flex;
            height: 40px;
            justify-content: center;
            width: 40px;

            @media screen and (max-width: sizes.$mobile) {
              height: 24px;
              width: 24px;
            }

            svg > * {
              transition: 0.3s;
              fill: colors.$dark;
            }

            &:hover svg > * {
              fill: colors.$white;
            }
          }
        }
      }
    }

    .legal-wrapper {
      display: grid;
      font-size: 21px;
      gap: 20px;
      grid-template-columns: repeat(6, 1fr);

      @media screen and (max-width: 1200px) {
        border-top: 1px solid colors.$gray;
        color: colors.$gray;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-top: 20px;
      }

      @media screen and (max-width: sizes.$mobile) {
        font-size: 16px;
      }

      .copyright {
        grid-column-start: 1;
        grid-column-end: 4;
      }

      .cookie-preferences {
        cursor: pointer;
      }
    }

    .company-details-wrapper {
      color: colors.$dark;
      display: grid;
      font-size: 21px;
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 20px;

      @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr;
      }

      @media screen and (max-width: sizes.$mobile) {
        font-size: 16px;
      }

      .company-details {
        display: flex;
        flex-wrap: wrap;
        gap: 0 1ch;

        @media screen and (max-width: 1200px) {
          flex-direction: column;
          flex-wrap: nowrap;
        }
      }
    }

    .to-top {
      color: colors.$white;
      margin-left: auto;

      &.desktop-to-top {
        display: flex;

        @media screen and (max-width: 1200px) {
          display: none;
        }
      }

      &.mobile-to-top {
        display: none;
        margin-bottom: 20px;

        @media screen and (max-width: 1200px) {
          display: flex;
        }
      }

      svg {
        height: 18px;
        rotate: -90deg;
        width: 18px;

        @media screen and (max-width: sizes.$mobile) {
          height: 14px;
          width: 14px;
        }

        * {
          stroke: colors.$white !important;
        }
      }
    }
  }
}
