@mixin blendMode {
  mix-blend-mode: difference;
}

.navigation-wrapper {
  @include blendMode;
  display: flex;
  height: 110px;
  justify-content: center;
  left: 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;

  .navigation-container {
    @include fadeDownMask;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 $desktopMinBleedWidth;
    max-width: $maxContentWidth;
    width: 100%;

    @media screen and (max-width: 1200px) {
      margin: 0 $laptopMinBleedWidth;
    }

    @media screen and (max-width: $tablet) {
      margin: 0 $mobileMinBleedWidth;
    }

    .nav-visible {
      opacity: 1;
      transition: 0.3s;
      transition-delay: 0.4s;
    }

    .nav-hidden {
      opacity: 0;
      transition: 0s;
    }

    .logo {
      @include blendMode;

      &.logo-text {
        height: 30px;
        width: 160px;
      }

      &.logo-icon {
        height: 30px;
        width: 30px;
      }

      path {
        fill: $white !important;
      }
    }

    .links-wrapper {
      align-items: center;
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(4, 120px);

      &.minimized {
        grid-template-columns: auto;
      }

      @media screen and (max-width: $laptop) {
        grid-template-columns: auto;
      }

      .nav-link {
        @include blendMode;
        color: $white;
        font-size: 21px;
        position: relative;
        width: fit-content;

        &:after {
          background-color: $white;
          bottom: -5px;
          content: "";
          height: 1.5px;
          left: 0;
          position: absolute;
          transition: 0.3s;
          width: 0;
        }

        &:hover:after {
          width: 100%;
        }

        @media screen and (max-width: $laptop) {
          display: none;
        }

        @media screen and (max-width: $mobile) {
          font-size: 16px;
        }
      }
    }

    .menu-icon {
      @include blendMode;
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      height: 30px;
      justify-content: center;
      margin-left: auto;
      width: 30px;

      .menu-line-wrapper {
        display: grid;
        gap: 5px;
        transform-origin: center;
        width: 100%;

        &.menu-line-1 {
          grid-template-columns: auto 5px;
        }

        .menu-line {
          background-color: $white;
          height: 3px;
          width: 100%;

          &.menu-line-short {
            width: 5px;
          }
        }
      }

      &.icon-open {
        gap: 8px;
        transition: 0.3s;
        transition-delay: 0.25s;

        .menu-line-wrapper {
          transition: 0.3s;
          transition-delay: 0s;

          &.menu-line-1,
          &.menu-line-2 {
            rotate: 0deg;
            transform: translateY(0);
          }
        }
      }

      &.icon-close {
        gap: 0px;
        transition: 0.3s;

        .menu-line-wrapper {
          transition: 0.5s;
          transition-delay: 0.25s;

          &.menu-line-1 {
            rotate: -45deg;
            transform: translateY(50%);
          }

          &.menu-line-2 {
            rotate: 45deg;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
