@use "colors";
@use "fonts";
@use "sizes";

.rich-text-wrapper {
  :first-child {
    margin-top: 0;
  }

  h1 {
    font-size: 36px;

    @media screen and (max-width: sizes.$mobile) {
      font-size: 24px;
    }
  }

  h2 {
    font-size: 28px;

    @media screen and (max-width: sizes.$mobile) {
      font-size: 21px;
    }
  }

  h3 {
    font-size: 24px;

    @media screen and (max-width: sizes.$mobile) {
      font-size: 18px;
    }
  }

  h4 {
    font-size: 21px;

    @media screen and (max-width: sizes.$mobile) {
      font-size: 18px;
    }
  }

  h5 {
    font-size: 18px;
    margin: 6px 0;

    @media screen and (max-width: sizes.$mobile) {
      font-size: 14px;
    }
  }

  h6 {
    font-size: 16px;
    margin: 6px 0;

    @media screen and (max-width: sizes.$mobile) {
      font-size: 12px;
    }
  }

  a,
  p,
  li,
  blockquote {
    font-size: 21px;
    margin: 6px 0;

    @media screen and (max-width: sizes.$mobile) {
      font-size: 16px;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 20px 0 10px 0;
  }

  h1,
  h2,
  h3,
  h4,
  b,
  strong {
    font-weight: 500;
  }

  a {
    opacity: 1;
    transition: 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }

  i {
    font-style: italic;
  }

  s {
    text-decoration: line-through;
  }

  u {
    text-decoration: underline;
  }

  ul,
  ol {
    list-style-position: inside;

    li > * {
      display: initial;
    }
  }

  ul {
    list-style-type: disc;
    margin: 20px 0;
  }

  ol {
    list-style-type: decimal-leading-zero;
    margin: 20px 0;

    li::marker {
      font-family: fonts.$regular;
      font-weight: 300;
    }
  }

  li::marker {
    color: colors.$gray;
  }

  blockquote {
    position: relative;
    padding-left: 10px;

    &::before {
      background-color: colors.$gray;
      border-radius: 5px;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 5px;
    }
  }
}
