@import "./colors";
@import "./sizes";

.heroWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 120px;

  @media screen and (max-width: $mobile) {
    margin-top: 0;
  }

  .heroTitle {
    font-size: 86px;
    margin-bottom: 80px;

    @media screen and (max-width: $desktop) {
      font-size: 60px;
    }

    @media screen and (max-width: $laptop) {
      font-size: 48px;
    }

    @media screen and (max-width: $mobile) {
      font-size: 32px;
      margin-bottom: 20px;
    }
  }

  .heroDate {
    color: $gray;
    font-size: 21px;
    margin-bottom: 20px;

    @media screen and (max-width: $mobile) {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  .heroCover {
    aspect-ratio: 16 / 9;
    width: 100%;

    img {
      object-fit: cover;
    }
  }
}

.articleWrapper {
  display: flex;
  flex-direction: column;
  gap: 80px 20px;
  margin-bottom: 120px;
  margin-top: 120px;

  @media screen and (max-width: $mobile) {
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.recommendedWrapper {
  border-top: 1px solid $gray;
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 380px;
  overflow: hidden;
  padding-top: 20px;

  @media screen and (max-width: $mobile) {
    gap: 40px;
    margin-top: 0;
    padding-top: 10px;
  }

  .recommendedHeader {
    align-items: flex-start;
    display: flex;
    gap: 20px 120px;
    justify-content: space-between;

    @media screen and (max-width: $mobile) {
      flex-direction: column-reverse;
    }

    .recommendedTitle {
      font-size: 48px;

      @media screen and (max-width: $desktop) {
        font-size: 36px;
      }

      @media screen and (max-width: $mobile) {
        font-size: 24px;
      }
    }

    .recommendedCTA {
      gap: 25px;
      font-size: 48px;
      white-space: nowrap;

      @media screen and (max-width: $desktop) {
        font-size: 36px;
      }

      @media screen and (max-width: $mobile) {
        align-self: flex-start;
        font-size: 16px;
        gap: 10px;
      }

      svg {
        height: 38px;
        width: 38px;

        @media screen and (max-width: $desktop) {
          height: 32px;
          width: 32px;
        }

        @media screen and (max-width: $mobile) {
          height: 14px;
          width: 14px;
        }
      }
    }
  }

  .recommendedCover {
    aspect-ratio: 16 / 4.5;
    width: 100%;

    img {
      object-fit: cover;
    }
  }
}
