@import "./colors";
@import "./sizes";

.heroWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 120px;

  .heroTitle {
    font-size: 86px;
    margin-bottom: 80px;

    @media screen and (max-width: $mobile) {
      font-size: 32px;
    }
  }

  .heroDate {
    color: $gray;
    font-size: 21px;
    margin-bottom: 20px;

    @media screen and (max-width: $mobile) {
      font-size: 16px;
    }
  }

  .heroCover {
    aspect-ratio: 16 / 9;
    width: 100%;

    img {
      object-fit: cover;
    }
  }
}

.articleWrapper {
  display: flex;
  flex-direction: column;
  gap: 80px 20px;
  margin-bottom: 120px;
  margin-top: 120px;
}

.recommendedWrapper {
  border-top: 1px solid $gray;
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 380px;
  overflow: hidden;
  padding-top: 20px;

  .recommendedHeader {
    align-items: flex-start;
    display: flex;
    gap: 20px 120px;
    justify-content: space-between;

    .recommendedTitle {
      font-size: 48px;

      @media screen and (max-width: $mobile) {
        font-size: 24px;
      }
    }

    .recommendedCTA {
      gap: 25px;
      font-size: 48px;
      white-space: nowrap;

      @media screen and (max-width: $mobile) {
        font-size: 24px;
      }

      svg {
        height: 38px;
        width: 38px;
      }
    }
  }

  .recommendedCover {
    aspect-ratio: 16 / 4.5;
    width: 100%;

    img {
      object-fit: cover;
    }
  }
}
