@import "./colors";
@import "./sizes";

.heroWrapper {
  display: flex;
  min-height: 400px;
  padding-bottom: 400px;
  padding-top: 120px;

  @media screen and (max-width: $tablet) {
    min-height: auto;
    padding-bottom: 180px;
    padding-top: 0;
  }

  h1 {
    display: flex;
    font-size: 86px;

    @media screen and (max-width: $desktop) {
      font-size: 60px;
    }

    @media screen and (max-width: $laptop) {
      font-size: 48px;
    }

    @media screen and (max-width: $mobile) {
      font-size: 32px;
    }
  }
}

.contactCTAWrapper {
  align-items: flex-start;
  border-top: 1px solid $gray;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 220px;
  padding: 20px 0;

  @media screen and (max-width: 1600px) {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: $laptop) {
    border: none;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0;
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @media screen and (max-width: $laptop) {
      display: none;
    }

    .title {
      font-size: 72px;

      @media screen and (max-width: $desktop) {
        font-size: 52px;
      }

      @media screen and (max-width: $laptop) {
        font-size: 36px;
      }

      @media screen and (max-width: $mobile) {
        font-size: 24px;
      }
    }

    .titleSmall {
      font-size: 48px;

      @media screen and (max-width: $desktop) {
        font-size: 36px;
      }

      @media screen and (max-width: $mobile) {
        font-size: 24px;
      }
    }
  }

  .action {
    font-size: 72px;

    @media screen and (max-width: $desktop) {
      font-size: 52px;
    }

    @media screen and (max-width: $laptop) {
      background-color: $primary;
      color: $white;
      font-size: 36px;
      gap: 10px;
      padding: 40px $mobileMinBleedWidth;
      width: 100%;
    }

    @media screen and (max-width: $mobile) {
      font-size: 24px;
    }

    svg {
      height: 54px;
      width: 54px;

      @media screen and (max-width: $desktop) {
        height: 32px;
        width: 32px;
      }

      @media screen and (max-width: $laptop) {
        * {
          stroke: $white !important;
        }
      }

      @media screen and (max-width: $mobile) {
        height: 20px;
        width: 20px;
      }
    }
  }

  .actionSmall {
    font-size: 48px;

    @media screen and (max-width: 1600px) {
      margin-left: auto;
    }

    @media screen and (max-width: $desktop) {
      font-size: 36px;
    }

    @media screen and (max-width: $laptop) {
      background-color: $primary;
      color: $white;
      gap: 10px;
      padding: 40px $mobileMinBleedWidth;
      width: 100%;
    }

    @media screen and (max-width: $mobile) {
      font-size: 24px;
    }

    svg {
      height: 40px;
      width: 40px;

      @media screen and (max-width: $desktop) {
        height: 30px;
        width: 30px;
      }

      @media screen and (max-width: $laptop) {
        * {
          stroke: $white !important;
        }
      }

      @media screen and (max-width: $mobile) {
        height: 20px;
        width: 20px;
      }
    }
  }
}
