@import "./colors";

.heroWrapper {
  display: flex;
  min-height: 400px;
  padding-bottom: 400px;
  padding-top: 120px;

  h1 {
    display: flex;
    font-size: 86px;
    white-space: pre-wrap;
  }
}

.contactCTAWrapper {
  align-items: flex-start;
  border-top: 1px solid $gray;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 300px;
  padding: 40px 0;

  .contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;

    .title {
      font-size: 72px;
    }

    .titleSmall {
      font-size: 48px;
    }

    .paragraph {
      font-size: 21px;
      white-space: pre-wrap;
    }
  }

  .action {
    font-size: 72px;
    gap: 30px;

    svg {
      height: 54px;
      width: 54px;
    }
  }

  .actionSmall {
    font-size: 48px;
    gap: 26px;

    svg {
      height: 40px;
      width: 40px;
    }
  }
}
