@use "sizes";

.textWrapper {
  align-items: center;
  display: grid;
  font-size: 21px;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10px;
  margin-top: 10px;
  white-space: pre-wrap;

  @media screen and (max-width: sizes.$tablet) {
    align-items: flex-start;
    gap: 10px;
    grid-template-columns: 1fr;
    margin-bottom: 0;
    margin-top: 0;
  }

  @media screen and (max-width: sizes.$mobile) {
    font-size: 16px;
  }

  .alignLeft {
    grid-column: 1;
    grid-row: 1;

    @media screen and (max-width: sizes.$tablet) {
      grid-row: 1;
      margin: 10px 0;

      &.imageColumn {
        margin: 0;
      }
    }
  }

  .alignRight {
    grid-column: 2;
    grid-row: 1;

    @media screen and (max-width: sizes.$tablet) {
      grid-column: 1;
      grid-row: 2;
      margin: 10px 0;

      &.imageColumn {
        margin: 0;
      }

      &:only-of-type {
        grid-row: 1;
      }
    }
  }

  .imageColumn {
    aspect-ratio: 14 / 15;
    pointer-events: none;
    width: 100%;

    @media screen and (max-width: sizes.$tablet) {
      aspect-ratio: 16 / 9;
      cursor: pointer;
      pointer-events: all;
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }
}

.singleImage {
  aspect-ratio: 16 / 9;
  pointer-events: none;
  width: 100%;

  @media screen and (max-width: sizes.$tablet) {
    cursor: pointer;
    pointer-events: all;
  }

  img {
    object-fit: cover;
    object-position: center;
  }
}

.doubleImageWrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (max-width: sizes.$tablet) {
    gap: 10px;
  }

  .doubleImage {
    aspect-ratio: 14 / 15;
    pointer-events: none;
    width: 100%;

    @media screen and (max-width: sizes.$tablet) {
      cursor: pointer;
      pointer-events: all;
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }
}

.tripleImageWrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: sizes.$tablet) {
    gap: 10px;
  }

  .tripleImage {
    aspect-ratio: 9 / 16;
    pointer-events: none;
    width: 100%;

    @media screen and (max-width: sizes.$tablet) {
      cursor: pointer;
      pointer-events: all;
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }
}
