@import "./reset";
@import "./colors";
@import "./fonts";
@import "./sizes";
@import "./image";
@import "./navigation";
@import "./sidenav";
@import "./footer";

@font-face {
  font-family: $regular;
  src: url("../fonts/Geist.woff2") format("woff2");
}

@font-face {
  font-family: $mono;
  src: url("../fonts/GeistMono.woff2") format("woff2");
}

html,
body {
  background-color: $white;
  color: $black;
  font-family: $regular, Arial, sans-serif;
  font-weight: 300;
  height: 100%;

  #__next {
    height: 100%;
  }

  .max-content-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    .max-content-container {
      margin-left: $minBleedWidth;
      margin-right: $minBleedWidth;
      max-width: $maxContentWidth;
      width: 100%;
    }
  }

  .cta-link {
    align-items: center;
    display: flex;
    font-size: 21px;
    gap: 10px;

    svg {
      height: 16px;
      width: 16px;
    }
  }

  .to-top {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 10px;
  }
}
