@import "./reset";
@import "./animations";
@import "./colors";
@import "./fonts";
@import "./sizes";
@import "./image";
@import "./navigation";
@import "./sidenav";
@import "./footer";

@font-face {
  font-family: $regular;
  src: url("../fonts/Geist.woff2") format("woff2");
}

@font-face {
  font-family: $mono;
  src: url("../fonts/GeistMono.woff2") format("woff2");
}

::-moz-selection {
  /* Code for Firefox */
  color: $white;
  background: $primary;
}

::selection {
  color: $white;
  background: $primary;
}

html,
body {
  background-color: $white;
  color: $black;
  font-family: $regular, Arial, sans-serif;
  font-size: 21px;
  font-weight: 400;
  height: 100%;

  @media screen and (max-width: $mobile) {
    font-size: 16px;
  }

  #__next {
    height: 100%;
  }

  .max-content-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    .max-content-container {
      margin-left: $desktopMinBleedWidth;
      margin-right: $desktopMinBleedWidth;
      max-width: $maxContentWidth;
      width: 100%;

      @media screen and (max-width: 1200px) {
        margin-left: $laptopMinBleedWidth;
        margin-right: $laptopMinBleedWidth;
      }

      @media screen and (max-width: $tablet) {
        margin-left: $mobileMinBleedWidth;
        margin-right: $mobileMinBleedWidth;
      }
    }
  }

  .cta-link {
    align-items: center;
    display: flex;
    font-size: 21px;
    gap: 10px;
    width: fit-content;

    @media screen and (max-width: $mobile) {
      font-size: 16px;
    }

    svg {
      height: 16px;
      width: 16px;

      @media screen and (max-width: $mobile) {
        height: 12px;
        width: 12px;
      }
    }
  }

  .to-top {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 10px;
  }

  .lightbox-wrapper {
    align-items: center;
    backdrop-filter: blur(4px);
    display: none;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    justify-content: center;
    left: 50%;
    max-width: calc($maxContentWidth + ($desktopMinBleedWidth * 2));
    padding: $desktopMinBleedWidth;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    width: 100%;

    @media screen and (max-width: 1200px) {
      max-width: calc($maxContentWidth + ($laptopMinBleedWidth * 2));
      padding: $desktopMinBleedWidth $laptopMinBleedWidth;
    }

    @media screen and (max-width: $tablet) {
      gap: 20px;
      max-width: calc($maxContentWidth + ($mobileMinBleedWidth * 2));
      padding: $desktopMinBleedWidth $mobileMinBleedWidth;
    }

    &[open] {
      display: flex;
    }

    .close-icon {
      align-self: flex-end;
      background: rgba($black, 0.6);
      border-radius: 100%;
      cursor: pointer;
      height: 30px;
      padding: 5px;
      width: 30px;

      * {
        fill: $white;
      }
    }

    .image-container {
      height: 100%;
      width: 100%;

      img {
        object-fit: contain;
        object-position: top;
      }
    }
  }

  #page-transition {
    align-items: center;
    background-color: $white;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: 0.5s ease-in-out;
    width: 100vw;
    z-index: 9999;

    &.hide {
      top: 110vh;

      .page-transition-title {
        display: none;
      }
    }

    #page-transition-title {
      @include fadeUpDownMask;
      font-size: 72px;
      font-weight: 500;
      margin-top: -20vh;
      padding: 0 $desktopMinBleedWidth;
      text-align: center;
      width: 100%;
      word-break: break-word;

      @media screen and (max-width: $desktop) {
        font-size: 52px;
      }

      @media screen and (max-width: 1200px) {
        padding: 0 $laptopMinBleedWidth;
      }

      @media screen and (max-width: $laptop) {
        font-size: 36px;
      }

      @media screen and (max-width: $mobile) {
        padding: 0 $mobileMinBleedWidth;
      }
    }
  }
}
