@import "./colors";
@import "./sizes";

.latestWrapper {
  margin-top: 120px;
}

.articlesWrapper {
  border-top: 1px solid $gray;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 60px;
  margin-top: 120px;
  padding-top: 20px;

  .articlesTitle {
    display: flex;
    font-size: 86px;
    grid-column-end: 4;
    grid-column-start: 1;
    margin-bottom: 40px;

    @media screen and (max-width: $mobile) {
      font-size: 32px;
    }
  }
}

.backgroundBlack {
  background-color: $black;
  color: $white;
}

.backgroundGray {
  background-color: $whitish;
  color: $black;
}

.spacingTop {
  margin-top: 100px;
}

.wantToPublishWrapper {
  display: grid;
  gap: 50px 20px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 180px;
  margin-top: 180px;

  h3 {
    font-size: 48px;
    grid-column-end: 5;
    grid-column-start: 3;

    @media screen and (max-width: $mobile) {
      font-size: 24px;
    }
  }

  p {
    font-size: 21px;
    line-height: 36px;
    grid-column-start: 3;

    @media screen and (max-width: $mobile) {
      font-size: 16px;
    }

    a {
      border-bottom: 1px solid $gray;
      padding-bottom: 2px;
    }
  }
}
