@import "./colors";
@import "./sizes";

.latestWrapper {
  margin-top: 120px;

  @media screen and (max-width: $mobile) {
    margin-top: 0;
  }
}

.articlesWrapper {
  border-top: 1px solid $gray;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 60px;
  margin-top: 120px;
  padding-top: 20px;

  @media screen and (max-width: $mobile) {
    border: none;
    grid-template-columns: 1fr;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0px;
    padding-top: 0;
  }

  .articlesTitle {
    display: flex;
    font-size: 86px;
    grid-column-end: 4;
    grid-column-start: 1;
    margin-bottom: 40px;

    @media screen and (max-width: $mobile) {
      border-top: 1px solid $gray;
      font-size: 24px;
      grid-column: 1;
      margin-bottom: 20px;
      margin-left: $mobileMinBleedWidth;
      margin-right: $mobileMinBleedWidth;
      padding-top: 10px;
    }
  }
}

.backgroundBlack {
  background-color: $black;
  color: $white;
}

.backgroundGray {
  background-color: $whitish;
  color: $black;
}

.spacingTop {
  margin-top: 100px;
}

.wantToPublishWrapper {
  display: grid;
  gap: 50px 20px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 180px;
  margin-top: 180px;

  @media screen and (max-width: 1600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: $tablet) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 80px;
    margin-top: 80px;
  }

  h3 {
    font-size: 48px;
    grid-column-end: 5;
    grid-column-start: 3;

    @media screen and (max-width: 1600px) {
      grid-column: 2;
    }

    @media screen and (max-width: $tablet) {
      grid-column: 1;
    }

    @media screen and (max-width: $mobile) {
      font-size: 24px;
    }
  }

  p {
    font-size: 21px;
    line-height: 36px;
    grid-column-start: 3;

    @media screen and (max-width: 1600px) {
      grid-column: 2;
    }

    @media screen and (max-width: $tablet) {
      grid-column: 1;
    }

    @media screen and (max-width: $mobile) {
      font-size: 16px;
      line-height: 26px;
    }

    a {
      border-bottom: 1px solid $gray;
      padding-bottom: 2px;
    }
  }
}
