@import "./colors";
@import "./sizes";

.heroWrapper {
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin-top: 120px;

  .heroCover {
    aspect-ratio: 16 / 9;
    width: 100%;

    img {
      object-fit: cover;
    }
  }

  .heroContentWrapper {
    align-items: flex-start;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    .heroLabel {
      color: $gray;
      font-size: 48px;

      @media screen and (max-width: $mobile) {
        font-size: 24px;
      }
    }

    .heroContent {
      display: flex;
      flex-direction: column;
      gap: 80px;

      .heroTitle {
        font-size: 48px;

        @media screen and (max-width: $mobile) {
          font-size: 24px;
        }
      }

      .heroParagraph {
        font-size: 21px;
        white-space: pre-wrap;

        @media screen and (max-width: $mobile) {
          font-size: 16px;
        }
      }
    }
  }
}

.projectWrapper {
  display: flex;
  flex-direction: column;
  gap: 80px 20px;
  margin-bottom: 120px;
  margin-top: 120px;
}

.recommendedWrapper {
  border-top: 1px solid $gray;
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 380px;
  overflow: hidden;
  padding-top: 20px;

  .recommendedHeader {
    align-items: flex-start;
    display: flex;
    gap: 20px 120px;
    justify-content: space-between;

    .recommendedTitle {
      font-size: 72px;

      @media screen and (max-width: $mobile) {
        font-size: 24px;
      }
    }

    .recommendedCTA {
      gap: 25px;
      font-size: 72px;
      white-space: nowrap;

      @media screen and (max-width: $mobile) {
        font-size: 24px;
      }

      svg {
        height: 50px;
        width: 50px;
      }
    }
  }

  .recommendedCover {
    aspect-ratio: 16 / 4.5;
    width: 100%;

    img {
      object-fit: cover;
    }
  }
}
