@import "./colors";
@import "./sizes";

.heroWrapper {
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin-top: 120px;

  @media screen and (max-width: $mobile) {
    gap: 20px;
    margin-top: 0;
  }

  .heroCover {
    aspect-ratio: 16 / 9;
    pointer-events: none;
    width: 100%;

    @media screen and (max-width: $tablet) {
      cursor: pointer;
      pointer-events: all;
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  .heroContentWrapper {
    align-items: flex-start;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: $tablet) {
      grid-template-columns: 1fr;
    }

    .heroLabel {
      color: $gray;
      font-size: 48px;

      @media screen and (max-width: $tablet) {
        font-size: 21px;
      }

      @media screen and (max-width: $mobile) {
        font-size: 16px;
      }
    }

    .heroContent {
      display: flex;
      flex-direction: column;
      gap: 80px;

      @media screen and (max-width: $mobile) {
        gap: 10px;
      }

      .heroTitle {
        font-size: 48px;

        @media screen and (max-width: $desktop) {
          font-size: 36px;
        }

        @media screen and (max-width: $mobile) {
          font-size: 24px;
        }
      }

      .heroParagraph {
        font-size: 21px;
        white-space: pre-wrap;

        @media screen and (max-width: $mobile) {
          font-size: 16px;
        }
      }
    }
  }
}

.projectWrapper {
  display: flex;
  flex-direction: column;
  gap: 80px 20px;
  margin-bottom: 120px;
  margin-top: 120px;

  @media screen and (max-width: $mobile) {
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.recommendedWrapper {
  border-top: 1px solid $gray;
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 380px;
  padding-top: 20px;

  @media screen and (max-width: $mobile) {
    gap: 40px;
    margin-top: 0;
    padding-top: 10px;
  }

  .recommendedHeader {
    align-items: flex-start;
    display: flex;
    gap: 20px 120px;
    justify-content: space-between;

    @media screen and (max-width: $mobile) {
      flex-direction: column-reverse;
    }

    .recommendedTitle {
      font-size: 72px;

      @media screen and (max-width: $desktop) {
        font-size: 52px;
      }

      @media screen and (max-width: $laptop) {
        font-size: 36px;
      }

      @media screen and (max-width: $mobile) {
        font-size: 24px;
      }
    }

    .recommendedCTA {
      cursor: pointer;
      gap: 25px;
      font-size: 72px;
      white-space: nowrap;

      @media screen and (max-width: $desktop) {
        font-size: 52px;
      }

      @media screen and (max-width: $laptop) {
        font-size: 36px;
      }

      @media screen and (max-width: $mobile) {
        align-self: flex-start;
        font-size: 16px;
        gap: 5px;
      }

      svg {
        height: 50px;
        width: 50px;

        @media screen and (max-width: $laptop) {
          height: 36px;
          width: 36px;
        }

        @media screen and (max-width: $mobile) {
          height: 14px;
          width: 14px;
        }
      }
    }
  }

  .recommendedCover {
    aspect-ratio: 16 / 4.5;
    width: 100%;

    img {
      object-fit: cover;
      object-position: center;
    }
  }
}
