@import "./colors";
@import "./fonts";
@import "./sizes";

.backgroundWrapper {
  background-color: $primary;
  color: $white;

  .wrapper {
    margin-bottom: 300px;
    margin-top: 200px;

    @media screen and (max-width: $desktop) {
      margin-bottom: 240px;
      margin-top: 140px;
    }

    @media screen and (max-width: $laptop) {
      margin-bottom: 180px;
      margin-top: 100px;
    }

    @media screen and (max-width: $mobile) {
      margin-bottom: 120px;
      margin-top: 60px;
    }

    .header,
    .row {
      display: grid;
      font-size: 21px;
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;

      @media screen and (max-width: $mobile) {
        font-size: 16px;
      }
    }

    .header {
      margin-bottom: 190px;

      @media screen and (max-width: $mobile) {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 60px;
      }

      .title {
        font-size: 72px;
        grid-column-end: 3;
        grid-column-start: 1;

        @media screen and (max-width: $desktop) {
          font-size: 52px;
        }

        @media screen and (max-width: $laptop) {
          font-size: 36px;
        }

        @media screen and (max-width: $mobile) {
          font-size: 24px;
        }
      }

      .paragraph {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 21px;
        grid-row: 2;

        @media screen and (max-width: 1500px) {
          grid-template-columns: 1fr;
        }

        @media screen and (max-width: $mobile) {
          font-size: 16px;
          gap: 20px;
          grid-template-columns: 1fr 2ch;
        }
      }
    }

    .row {
      border-top: 1px solid $white;
      cursor: pointer;
      padding: 20px 0;

      @media screen and (max-width: 1200px) {
        display: flex;
        flex-direction: row-reverse;
      }

      &:last-of-type {
        border-bottom: 1px solid $white;
      }

      .index {
        font-family: $mono;
        font-size: 48px;

        @media screen and (max-width: $desktop) {
          display: none;
        }
      }

      .column {
        height: fit-content;
        overflow-y: hidden;
        transition: 1s;
        width: 100%;

        .heading {
          align-items: center;
          display: flex;
          font-size: 48px;
          gap: 20px;
          justify-content: space-between;

          @media screen and (max-width: $desktop) {
            font-size: 36px;
          }

          @media screen and (max-width: $mobile) {
            font-size: 24px;
          }

          .icon {
            aspect-ratio: 1/1;
            height: 35px;
            width: 35px;

            @media screen and (max-width: $desktop) {
              height: 25px;
              width: 25px;
            }

            @media screen and (max-width: $mobile) {
              height: 20px;
              width: 20px;
            }

            path:first-of-type {
              rotate: 0;
              transform-origin: center;
              transition: 0.3s;
            }

            &.expanded path:first-of-type {
              rotate: 90deg;
            }
          }
        }

        p {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          padding-bottom: 120px;
          padding-top: 30px;

          @media screen and (max-width: 1500px) {
            grid-template-columns: 1fr;
          }

          @media screen and (max-width: $mobile) {
            padding-bottom: 60px;
            padding-top: 10px;
          }
        }
      }
    }
  }
}
