@import "./colors";
@import "./sizes";

.heroWrapper {
  display: flex;
  min-height: 400px;
  padding-bottom: 300px;
  padding-top: 120px;

  @media screen and (max-width: $tablet) {
    min-height: auto;
    padding-bottom: 180px;
    padding-top: 0;
  }

  h1 {
    display: flex;
    font-size: 86px;

    @media screen and (max-width: $desktop) {
      font-size: 60px;
    }

    @media screen and (max-width: $laptop) {
      font-size: 48px;
    }

    @media screen and (max-width: $mobile) {
      font-size: 32px;
    }
  }
}

.gridWrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: $mobile) {
    gap: 0;
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  &.noGap {
    gap: 0 20px;
    margin-bottom: 560px;

    @media screen and (max-width: $mobile) {
      gap: 0;
      margin-bottom: 120px;
    }
  }

  .viewModeWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-column: 3;
    margin-bottom: 80px;

    @media screen and (max-width: $tablet) {
      grid-column: 1 / 4;
      margin-left: auto;
    }

    @media screen and (max-width: $mobile) {
      grid-column: 1;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: $mobileMinBleedWidth;
    }

    .viewModeSelect {
      align-items: center;
      color: $dark;
      display: flex;
      font-size: 48px;
      gap: 10px;

      @media screen and (max-width: $desktop) {
        font-size: 36px;
      }

      @media screen and (max-width: $mobile) {
        font-size: 24px;
      }

      .viewModeOption {
        color: $gray;
        cursor: pointer;
        transition: 0.3s;

        &.viewModeActive,
        &:hover {
          color: $black;
        }
      }

      .viewModeSplitter {
        color: $black;
      }
    }
  }

  .gridProject {
    @media screen and (max-width: $mobile) {
      margin-bottom: 60px;
    }

    .gridCover {
      cursor: none !important;
    }
  }

  .projectListItem {
    align-items: center;
    border-top: 1px solid $gray;
    cursor: none !important;
    display: flex;
    font-size: 48px;
    grid-column-end: 4;
    grid-column-start: 1;
    justify-content: space-between;
    padding: 40px 0;

    @media screen and (max-width: $desktop) {
      font-size: 36px;
    }

    @media screen and (max-width: $mobile) {
      font-size: 24px;
      margin: 0 $mobileMinBleedWidth;
      padding: 20px 0;
    }

    &:last-of-type {
      border-bottom: 1px solid $gray;
    }

    .projectListArrow {
      height: 40px;
      width: 40px;

      @media screen and (max-width: $mobile) {
        height: 20px;
        width: 20px;
      }

      * {
        stroke: $gray !important;
        stroke-width: 1 !important;
      }
    }
  }

  .projectModal {
    align-items: center;
    display: flex;
    height: 0;
    justify-content: center;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0s;
    width: 0;
    z-index: 1;

    @media screen and (max-width: $tablet) {
      display: none;
    }

    &.projectModalGrid {
      background-color: $primary;
      border-radius: 100%;
      color: $white;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;

      span {
        display: none;
      }

      &.projectModalActive {
        height: 120px;
        opacity: 1;
        width: 120px;

        span {
          display: block;
        }
      }
    }

    &.projectModalList {
      aspect-ratio: 1/1;
      background-color: $dark;
      transition:
        height 0.2s ease-in-out,
        width 0.2s ease-in-out;

      &.projectModalActive {
        height: 310px;
        width: 310px;
      }
    }

    .projectModalCover {
      height: 100%;
      width: 100%;

      img {
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
