@import "../colors";
@import "../fonts";
@import "../sizes";

.featuredWrapper {
  display: flex;
  gap: 25px;

  @media screen and (max-width: $mobile) {
    gap: 20px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  &.featuredTop {
    flex-direction: column;
  }

  &.featuredBottom {
    flex-direction: column-reverse;
  }

  .featuredTextWrapper {
    display: grid;
    font-size: 21px;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: 1500px) {
      span {
        display: flex;
        grid-column-end: 3;
        grid-column-start: 1;
      }
    }

    @media screen and (max-width: $mobile) {
      align-items: flex-end;
      display: flex;
      font-size: 16px;
      gap: 20px;
      justify-content: space-between;
      margin: 0 $mobileMinBleedWidth;
    }

    .featuredIndex {
      display: flex;
      font-family: $mono;
      grid-column-end: 5;
      grid-column-start: 4;
      justify-self: flex-end;
    }
  }

  .featuredModal {
    align-items: center;
    background-color: $primary;
    border-radius: 100%;
    color: $white;
    display: none;
    height: 120px;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease-in-out;
    width: 120px;
    z-index: 1;

    @media screen and (max-width: $mobile) {
      display: none;
    }

    &.featuredModalActive {
      display: flex;
      opacity: 1;
    }
  }

  .featuredCover {
    aspect-ratio: 16 / 9;
    background-color: $gray;
    cursor: none;
    width: 100%;

    @media screen and (max-width: $mobile) {
      aspect-ratio: 1 / 1;
      height: auto;
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  .desktopCTA {
    display: flex;

    @media screen and (max-width: 1500px) {
      grid-column: 3;
    }

    @media screen and (max-width: $tablet) {
      display: none;
    }
  }

  .mobileCTA {
    display: none;

    @media screen and (max-width: $tablet) {
      display: flex;
    }

    @media screen and (max-width: $mobile) {
      margin: 0 $mobileMinBleedWidth;
    }
  }
}
