@import "../colors";

.selectedWrapper {
  border-top: 1px solid $black;

  .selectedTextWrapper {
    align-items: flex-end;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin: 40px 0;

    .selectedColumn {
      align-items: flex-end;
      display: flex;
      gap: 20px;
      justify-content: space-between;
    }

    .selectedTitle {
      font-size: 72px;
    }

    .selectedCTA {
      justify-self: flex-end;
      margin-bottom: 15px;
    }
  }

  .projectsWrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 300px;
    margin-top: 60px;
  }
}

.projectContainer {
  display: flex;
  flex-direction: column;
  gap: 26px;

  .projectCover {
    aspect-ratio: 1/1;
    background-color: $gray;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  .projectTitle {
    font-size: 21px;
  }

  .projectTitleMin {
    min-height: 240px;
  }
}
