@import "../colors";
@import "../sizes";

.selectedWrapper {
  @media screen and (max-width: $mobile) {
    margin: 0 !important;
  }

  .selectedTextWrapper {
    align-items: flex-end;
    border-top: 1px solid $gray;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
    padding-top: 20px;

    @media screen and (max-width: 1600px) {
      grid-template-columns: 1fr;
    }

    @media screen and (max-width: $tablet) {
      margin-left: $mobileMinBleedWidth;
      margin-right: $mobileMinBleedWidth;
    }

    .selectedColumn {
      align-items: flex-end;
      display: flex;
      gap: 20px;
      justify-content: space-between;

      @media screen and (max-width: 1600px) {
        .selectedTitle {
          display: flex;
        }
      }
    }

    .selectedTitle {
      font-size: 72px;

      @media screen and (max-width: 1600px) {
        display: none;
      }

      @media screen and (max-width: $mobile) {
        font-size: 24px;
      }
    }

    .selectedCTA {
      justify-self: flex-end;
      margin-bottom: 15px;

      @media screen and (max-width: $tablet) {
        display: none;
      }
    }
  }

  .projectsWrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 300px;
    margin-top: 60px;

    @media screen and (max-width: $mobile) {
      gap: 60px;
      grid-template-columns: 1fr;
      margin-bottom: 120px;
      margin-top: 40px;
    }

    .selectedMobileCTA {
      border-top: 1px solid $gray;
      display: none;
      justify-content: flex-end;
      padding-top: 10px;
      width: auto;

      @media screen and (max-width: $tablet) {
        grid-column: 1 / 4;
        display: flex;
      }

      @media screen and (max-width: $mobile) {
        grid-column: 1;
        margin-left: $mobileMinBleedWidth;
        margin-right: $mobileMinBleedWidth;
      }
    }
  }
}

.projectContainer {
  display: flex;
  flex-direction: column;
  gap: 26px;

  @media screen and (max-width: $mobile) {
    gap: 22px;
  }

  .projectCover {
    aspect-ratio: 1/1;
    background-color: $gray;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  .projectTitle {
    font-size: 21px;

    @media screen and (max-width: $tablet) {
      margin: 0 $mobileMinBleedWidth;
    }

    @media screen and (max-width: $mobile) {
      font-size: 16px;
    }
  }

  .projectTitleMin {
    min-height: 120px;

    @media screen and (max-width: $mobile) {
      min-height: auto;
    }
  }
}
