@import "../colors";
@import "../fonts";
@import "../sizes";

.pitchWrapper {
  display: flex;
  flex-direction: column;

  .pitchItem {
    align-items: flex-start;
    border-top: 1px solid $gray;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 0;

    @media screen and (max-width: $mobile) {
      display: flex;
      flex-direction: row-reverse;
      padding: 10px 0;
    }

    &:last-of-type {
      border-bottom: 1px solid $gray;
    }

    .pitchNumber {
      color: $gray;
      font-size: 21px;
      font-family: $mono;

      @media screen and (max-width: $mobile) {
        font-size: 24px;
      }
    }

    .pitchContent {
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-bottom: 80px;
      min-height: 320px;

      @media screen and (max-width: $mobile) {
        gap: 10px;
        min-height: 200px;
      }

      .pitchTitle {
        font-size: 48px;

        @media screen and (max-width: $mobile) {
          font-size: 24px;
        }
      }

      .pitchParagraph {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 21px;

        @media screen and (max-width: $mobile) {
          display: block;
          font-size: 16px;
        }
      }

      .pitchCTA {
        margin-top: 60px;
      }
    }
  }
}
