@use "../colors";
@use "../fonts";
@use "../sizes";

.pitchWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 100px;

  @media screen and (max-width: sizes.$mobile) {
    margin-bottom: 80px;
    margin-top: 80px;
  }

  .pitchItem {
    align-items: flex-start;
    border-top: 1px solid colors.$gray;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 0;

    @media screen and (max-width: sizes.$tablet) {
      grid-template-columns: auto;
      padding: 10px 0;
    }

    &.withBottomLine:last-of-type {
      border-bottom: 1px solid colors.$gray;
    }

    .pitchNumber {
      color: colors.$gray;
      font-size: 48px;

      @media screen and (max-width: sizes.$desktop) {
        font-size: 36px;
      }

      @media screen and (max-width: sizes.$tablet) {
        display: none;
      }
    }

    .pitchLabel {
      color: colors.$gray;
      font-size: 48px;

      @media screen and (max-width: sizes.$desktop) {
        font-size: 36px;
      }

      @media screen and (max-width: sizes.$mobile) {
        font-size: 24px;
      }
    }

    .pitchContent {
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-bottom: 100px;

      @media screen and (max-width: sizes.$tablet) {
        gap: 10px;
      }

      .pitchTitle {
        font-size: 48px;

        @media screen and (max-width: sizes.$desktop) {
          font-size: 36px;
        }

        @media screen and (max-width: sizes.$mobile) {
          font-size: 24px;
        }
      }

      .pitchParagraph {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 21px;

        @media screen and (max-width: 1800px) {
          grid-template-columns: 1fr;
        }

        @media screen and (max-width: sizes.$tablet) {
          display: block;
        }

        @media screen and (max-width: sizes.$mobile) {
          font-size: 16px;
        }
      }

      .pitchCTA {
        margin-top: 60px;
      }
    }
  }
}
