@import "../colors";
@import "../sizes";

.servicesWrapper {
  display: grid;
  gap: 160px 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 160px;
  margin-top: 160px;

  @media screen and (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  @media screen and (max-width: $mobile) {
    gap: 40px;
    margin-bottom: 240px;
    margin-top: 80px;
  }

  &.breakLine {
    padding-top: 20px;
    border-top: 1px solid $gray;
  }

  .heroWrapper {
    display: grid;
    gap: 20px 0;
    grid-column-end: 3;
    grid-column-start: 2;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
    }

    @media screen and (max-width: $mobile) {
      gap: 10px;
    }

    .heroTitle {
      font-size: 72px;

      @media screen and (max-width: $desktop) {
        font-size: 52px;
      }

      @media screen and (max-width: $laptop) {
        font-size: 36px;
      }

      @media screen and (max-width: $mobile) {
        font-size: 24px;
      }
    }

    .heroParagraph {
      grid-row: 2;
      font-size: 21px;

      @media screen and (max-width: 1600px) {
        grid-column: 1 / 3;
      }

      @media screen and (max-width: $mobile) {
        font-size: 16px;
      }

      a {
        border-bottom: 1px solid $gray;
        opacity: 1;
        padding-bottom: 2px;
        transition: 0.3s;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  .promptWrapper {
    display: grid;
    gap: 30px 0;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: 1600px) {
      grid-template-columns: 1fr;
    }

    @media screen and (max-width: $mobile) {
      gap: 10px;
      grid-template-columns: 1fr;
    }

    .promptTitle {
      color: $primary;
      display: flex;
      font-size: 48px;
      grid-column-end: 3;
      grid-column-start: 1;

      @media screen and (max-width: $desktop) {
        font-size: 36px;
      }

      @media screen and (max-width: $mobile) {
        font-size: 24px;
      }
    }

    .promptParagraph {
      font-size: 21px;
      grid-row: 2;
      min-height: 360px;

      @media screen and (max-width: 1600px) {
        margin-right: 100px;
      }

      @media screen and (max-width: 1200px) {
        min-height: 100px;
      }

      @media screen and (max-width: $mobile) {
        font-size: 16px;
        min-height: 60px;
      }

      a {
        border-bottom: 1px solid $gray;
        opacity: 1;
        padding-bottom: 2px;
        transition: 0.3s;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  .inputWrapper {
    display: flex;
    font-size: 48px;
    gap: 0.5ch;
    height: fit-content;
    white-space: nowrap;

    @media screen and (max-width: $desktop) {
      font-size: 36px;
    }

    @media screen and (max-width: 1200px) {
      margin-bottom: 225px;
    }

    @media screen and (max-width: $mobile) {
      font-size: 24px;
      margin-bottom: 0;
    }

    .inputContainer {
      position: relative;
      white-space: normal;
      word-break: break-all;

      @media screen and (max-width: 1200px) {
        width: 100%;
      }

      &:focus-within {
        .searchWrapper {
          display: flex;
        }
      }

      textarea {
        overflow: hidden;
        position: relative;
        resize: none;
        width: 100%;
        z-index: 2;
      }

      textarea::placeholder,
      .inputSuggestion {
        color: $gray;
      }

      .inputSuggestionsWrapper {
        height: auto;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
      }

      .inputSuggestion {
        display: block;
        min-height: 2ch;
        position: relative;
        width: 100%;
      }

      .searchWrapper {
        display: none;
        flex-direction: column;
        font-size: 36px;
        height: 520px;
        left: 0;
        overflow-y: auto;
        padding-bottom: 250px;
        position: absolute;
        top: 100%;
        width: 100%;

        @media screen and (max-width: $desktop) {
          font-size: 32px;
        }

        @media screen and (max-width: 1200px) {
          height: 380px;
        }

        @media screen and (max-width: $mobile) {
          font-size: 24px;
          height: 230px;
          padding-bottom: 60px;
        }

        /* Width */
        &::-webkit-scrollbar {
          width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          border: 1px solid $light;
          border-radius: 100vw;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: $primary;
          border-radius: 100vw;
          cursor: pointer;
        }

        .searchItem {
          border-bottom: 1px solid $light;
          cursor: pointer;
          hyphens: auto;
          padding: 10px 0;
          white-space: break-spaces;
          word-break: break-word;

          &.searchItemNoResults {
            color: $gray;
          }

          &:last-of-type {
            border-bottom: none;
          }
        }
      }
    }
  }
}
