@import "../colors";

.servicesWrapper {
  display: grid;
  gap: 160px 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 160px;
  margin-top: 160px;

  &.breakLine {
    padding-top: 20px;
    border-top: 1px solid $gray;
  }

  .heroWrapper {
    display: grid;
    gap: 20px 0;
    grid-column-end: 3;
    grid-column-start: 2;
    grid-template-columns: repeat(2, 1fr);

    .heroTitle {
      font-size: 72px;
    }

    .heroParagraph {
      grid-row: 2;
      font-size: 21px;

      a {
        border-bottom: 1px solid $gray;
        padding-bottom: 2px;
      }
    }
  }

  .promptWrapper {
    display: grid;
    gap: 30px 0;
    grid-template-columns: repeat(2, 1fr);

    .promptTitle {
      color: $primary;
      display: flex;
      font-size: 48px;
      grid-column-end: 3;
      grid-column-start: 1;
    }

    .promptParagraph {
      font-size: 21px;
      grid-row: 2;
      min-height: 360px;

      a {
        border-bottom: 1px solid $gray;
        padding-bottom: 2px;
      }
    }
  }

  .inputWrapper {
    display: flex;
    font-size: 48px;
    gap: 16px;
    height: fit-content;
    white-space: nowrap;

    .inputContainer {
      position: relative;

      &:focus-within {
        .searchWrapper {
          display: flex;
        }
      }

      input {
        position: relative;
        z-index: 2;
      }

      input::placeholder,
      .inputSuggestion {
        color: $gray;
      }

      .inputSuggestion {
        left: 0;
        position: absolute;
        top: 0;
        z-index: 1;
      }

      .searchWrapper {
        display: none;
        flex-direction: column;
        font-size: 36px;
        height: 450px;
        left: 0;
        overflow-y: auto;
        padding-bottom: 250px;
        position: absolute;
        top: 100%;
        width: 100%;

        /* width */
        &::-webkit-scrollbar {
          width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          border: 1px solid $light;
          border-radius: 100vw;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: $primary;
          border-radius: 100vw;
          cursor: pointer;
        }

        .searchItem {
          border-bottom: 1px solid $light;
          cursor: pointer;
          hyphens: auto;
          padding: 10px 0;
          white-space: break-spaces;
          word-break: break-word;

          &.searchItemNoResults {
            color: $gray;
          }

          &:last-of-type {
            border-bottom: none;
          }
        }
      }
    }
  }
}
